<template>
    <div class="Polaris-Page Polaris-Page--fullWidth">
        <CriticalBanner :banner="shopify.banner"></CriticalBanner>
        <div class="Polaris-Page__Content">
            <div class="Polaris-Card overflow-in">
                <div class="Polaris-Card__Header">
                    <h2 class="Polaris-Heading">Settings</h2>
                </div>
                <div class="Polaris-Card__Section">
                    <div
                        style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">
                        <div class="Polaris-FormLayout">
                            <div role="group" class="Polaris-FormLayout--grouped">
                                <div class="Polaris-FormLayout__Items">
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label"><label id="PolarisTextField19Label"
                                                                                  for="PolarisTextField19"
                                                                                  class="Polaris-Label__Text">Public Key
                                                    </label></div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField"><input id="PolarisTextField19"
                                                                                          class="Polaris-TextField__Input"
                                                                                          type="text"
                                                                                          v-model="form.public_key"
                                                                                          aria-labelledby="PolarisTextField19Label"
                                                                                          aria-invalid="false"
                                                                                          aria-multiline="false"
                                                                                          value="">
                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="">
                                            <div class="Polaris-Labelled__LabelWrapper">
                                                <div class="Polaris-Label"><label id="PolarisTextField20Label"
                                                                                  for="PolarisTextField20"
                                                                                  class="Polaris-Label__Text">Private Key</label></div>
                                            </div>
                                            <div class="Polaris-Connected">
                                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                                    <div class="Polaris-TextField"><input id="PolarisTextField20"
                                                                                          class="Polaris-TextField__Input"
                                                                                          type="text"
                                                                                          v-model="form.private_key"
                                                                                          aria-labelledby="PolarisTextField20Label"
                                                                                          aria-invalid="false"
                                                                                          aria-multiline="false"
                                                                                          value="">

                                                        <div class="Polaris-TextField__Backdrop"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="Polaris-FormLayout__Item">
                                <div class="">
                                    <div class="Polaris-Connected">
                                        <div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;"><button @click="sendForm" type="button" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ButtonLoading from "../shopify/ButtonLoading";
    import CriticalBanner from "../shopify/CriticalBanner";
    import helper from "../../helper";

    export default {
        components: {
            CriticalBanner,
            ButtonLoading,
        },
        data() {
            return {
                shopify: {
                    banner: {
                        showCritical: false,
                        valueCritical: [],
                    }
                },
                buttonHS: {
                    showLoadingButton: false,
                    showPrimaryButton: true,
                },
                form: {
                    public_key: '',
                    private_key: '',
                },
                reports: [],
            }
        },
        mounted() {
            this.getSetting();
        },
        methods: {
            async getSetting() {
                let base = this;
                try {
                    helper.startLoading();
                    this.shopify.banner.showCritical = false;
                    this.shopify.banner.valueCritical = [];
                    this.buttonHS.showLoadingButton = true;
                    this.buttonHS.showPrimaryButton = false;
                    let {data} = await axios.get('/setting');
                    this.buttonHS.showLoadingButton = false;
                    this.buttonHS.showPrimaryButton = true;
                    base.form = {
                        public_key : data.public_key,
                        private_key : data.private_key,
                    }
                } catch ({response}) {
                    this.buttonHS.showLoadingButton = false;
                    this.buttonHS.showPrimaryButton = true;
                    this.shopify.banner.showCritical = true;
                    this.shopify.banner.valueCritical = response.data;
                }
                helper.stopLoading();
            },
            async sendForm() {
                let base = this;
                try {
                    helper.startLoading();
                    this.shopify.banner.showCritical = false;
                    this.shopify.banner.valueCritical = [];
                    this.buttonHS.showLoadingButton = true;
                    this.buttonHS.showPrimaryButton = false;
                    let {data} = await axios.post('/setting', base.form);
                    this.buttonHS.showLoadingButton = false;
                    this.buttonHS.showPrimaryButton = true;

                    helper.successToast(data.message);

                } catch ({response}) {
                    this.buttonHS.showLoadingButton = false;
                    this.buttonHS.showPrimaryButton = true;
                    this.shopify.banner.showCritical = true;
                    this.shopify.banner.valueCritical = response.data;
                }
                helper.stopLoading();
            },
        }
    };
</script>

